<!DOCTYPE html>
<html lang="en">

  <%- include('../layout/head.ejs') %>
</head>

<body>
  <%- include('../layout/header.ejs') %>
  <main>
    <h2 id="recommend">Here are your recommendations for: <span id="category">
        <%= category %>
      </span></h2>
    <div>
      <% for(let i=0; i < recs.length; i++) { %>
        <ul class="ul">
          <li>
            <span id="api-name">API Name: </span>
            <%= recs[i].name %>
          </li>
          <li>
            <span id="api-description">Description: </span>
            <%= recs[i].description %>
          </li>
          <li>
            <span id="api-url">URL: </span><a href="<%= recs[i].url %>">
              <%= recs[i].url %>
            </a>
          </li>
          <li>
            <span id="api-cors">Cors: </span>
            <%= recs[i].cors %>
          </li>

        </ul>
        <% } %>
    </div>

  </main>
  <%- include('../layout/footer.ejs') %>
  <!-- <script src="https://cdn.jsdelivr.net/npm/pretty-print-json@0.4/dist/pretty-print-json.min.js"></script> -->
</body>

</html>